<% content_for :title, "API Adayları" %>
<% content_for :stylesheets, page_stylesheet_tags("pages/admin-events") %>

<section class="admin-review-page page-shell admin-candidates-page">
  <%= render "admin/external_event_candidates/index_hero" %>
  <%= render "admin/external_event_candidates/index_summary" %>
  <%= render "admin/external_event_candidates/index_scan_controls" %>
  <%= render "admin/external_event_candidates/index_filter_controls" %>
  <%= render "admin/external_event_candidates/index_results" %>
</section>
