<!DOCTYPE html>
<html class="dark">
  <head>
    <title>Unizone - Etkinlik Platformu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">


    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    

    <% if content_for?(:page_title) %>
      <%= yield :page_title %>
    <% end %>
  </head>

  <body class="bg-gradient-to-b from-gray-900 via-blue-950 to-black min-h-screen flex flex-col dark:text-white">
    <%= render 'layouts/navbar' %>
    
    <main class="flex-grow">
      <%= yield %>
    </main>
    
    <%= render 'layouts/footer' %>

    <% if content_for?(:footer_scripts) %>
      <%= yield :footer_scripts %>
    <% end %>
  </body>
</html>
